<template>
    <div class="Contacts">
      <v-container>
        <v-form>
          <v-layout align-center justify-center wrap>
            <v-flex md11 xs12>
              <v-text-field
                placeholder="Search"
                name="query"
                v-model="query"
                type="text"
                @input="debounceSearch"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>

        <v-layout align-center justify-center>
          <v-flex md11 xs12>
            <v-list two-line class="Contacts__list">
              <v-list-tile
                v-for="item in (!query ? users : userList)"
                :key="item.id"
                avatar
                class="Contacts__item"
              >
                <v-btn icon class="Contacts__add-button" @click="onToggleContact(item.id)">

                  <div v-if="userContacts.includes(item.id)">
                    <v-icon color="error">close</v-icon>
                  </div>
                  <v-icon v-else color="success">add</v-icon>
                </v-btn>

                <v-list-tile-avatar color="teal">
                  <span class="white--text headline">C</span>
                </v-list-tile-avatar>

                <v-list-tile-content class="Contacts__item-title-wrapper">
                  <v-list-tile-title>
                    {{ item.userName }}
                  </v-list-tile-title>
                  <span v-if="item.onLine" class="Contacts__item-online-label">online</span>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>

        <v-layout v-if="query && userList.length === 0" column justify-center align-center>
          <v-flex class="Contacts__not-fount-title">We didn't find anything 😔</v-flex>
          <v-flex>
            <v-img
              class="Contacts__image-not-found"
              :src="require('../assets/404.svg')"
            ></v-img>
          </v-flex>
        </v-layout>

      </v-container>
    </div>
</template>

<script>
/* eslint-disable no-unused-expressions */

import { mapGetters, mapActions } from 'vuex';
import getUid from '@/utils/uid';
import { fireStore } from '@/firebase';
import debounce from '@/utils/debounce';

export default {
  name: 'Contacts',
  data() {
    return {
      query: '',
      userList: [],
    };
  },
  computed: {
    ...mapGetters([
      'user',
      'users',
      'userContacts',
    ]),
  },
  methods: {
    ...mapActions([
      'getUsers',
      'getCurrentUserData',
      'addUserToContacts',
      'removeUserFromContacts',
      'addDialog',
      'removeDialog',
    ]),
    debounceSearch() {
      debounce(() => {
        this.userList = this.users.filter(i => i.userName.includes(this.query));
      }, 1000)();
    },
    async onToggleContact(userId) {
      const friendUserRef = fireStore.collection('users').doc(userId);
      const currentUserRef = fireStore.collection('users').doc(this.user.id);
      const dialogsCollectionRef = fireStore.collection('dialogs');
      const dialogs = [];

      this.userContacts.includes(userId)
        ? this.removeUserFromContacts(userId)
        : this.addUserToContacts(userId);

      const friendUser = (await friendUserRef.get()).data();
      const currentUser = (await currentUserRef.get()).data();

      const uid = await getUid();

      await dialogsCollectionRef.get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            dialogs.push({
              ...doc.data(),
            });
          });
        });

      const dialogSelectedUser = dialogs.find(i => Object.values(i).includes(userId));

      // Removing process
      if (dialogSelectedUser) {
        this.removeDialog(dialogSelectedUser.id);

        await dialogsCollectionRef.doc(dialogSelectedUser.id).delete()
          .then(() => {
            console.log('Document successfully deleted!');
          })
          .catch((error) => {
            console.error('Error removing document: ', error);
          });

        await currentUserRef.update({
          contacts: currentUser.contacts.filter(i => i !== userId),
          dialogs: currentUser.dialogs.filter(i => i !== dialogSelectedUser.id),
        });

        await friendUserRef.update({
          contacts: friendUser.contacts.filter(i => i !== this.user.id),
          dialogs: friendUser.dialogs.filter(i => i !== dialogSelectedUser.id),
        });
        return;
      }

      // Adding process
      this.addDialog(uid);
      await dialogsCollectionRef.doc(uid)
        .set({
          id: uid,
          firstPerson: this.user.id,
          secondPerson: userId,
        })
        .then(() => {

        })
        .catch((error) => {
          console.error('Error of creating document: ', error);
        });

      await currentUserRef.update({
        contacts: [...currentUser.contacts, userId],
        dialogs: [...currentUser.dialogs, uid],
      });
      await friendUserRef.update({
        contacts: [...friendUser.contacts, this.user.id],
        dialogs: [...friendUser.dialogs, uid],
      });
    },
  },
  mounted() {
    this.getCurrentUserData();
    this.getUsers();

    this.unsubscribeUsers = fireStore.collection('users')
      .onSnapshot(() => {
        this.getCurrentUserData();
        this.getUsers();
        console.log('updated successful!');
      });
  },
  beforeDestroy() {
    this.unsubscribeUsers();
  },
};
</script>

<style lang="scss" scoped>
  @import "../ui/colors";
  .Contacts {
    padding-top: 4rem;

    &__search-button {

    }

    &__add-button {
      margin-right: 1.7rem;

      @media (max-width: 400px) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &__list {
      background: transparent;
      border-radius: 5px;
      overflow: hidden;
    }

    &__item {
      background: #fff;

      &:hover {
        background: rgba(0, 0, 0, .05);
      }
    }

    &__item-title-wrapper {
      position: relative;
    }

    &__item-online-label {
      position: absolute;
      top: 50%;
      right: 0;
      color: $info;
      transform: translate(-50%, -50%);
    }

    &__not-fount-title {
      font-size: 1.7rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__image-not-found {
      width: 45px;
    }
  }
</style>
