<template>
  <v-container class="Home" fluid fill-height grid-list-md>
    <v-layout class="Home__dialog" row wrap column>
      <v-flex class="Home__dialog-content" v-chat-scroll>
        <v-layout v-if="user && !isNullMessages(messages)" column>
          <v-flex
            v-for="message in messages"
            :key="message.id"
            :align-self-start="message.from !== user.id"
            :align-self-end="message.from === user.id"
          >
            <v-card class="Home__message">{{ message.message }}</v-card>
          </v-flex>
        </v-layout>
        <div class="Home__dialog-loader" v-else>
          <v-btn icon loading color="secondary" dark></v-btn>
        </div>
        <v-layout v-if="(messages || {}).length === 0" justify-center>
          <v-flex xs4 class="Home__no-messages-label">
            No one message
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex class="Home__input-message">
        <v-btn
          fab
          dark
          :color="message.length > 120 ? 'error' : 'info'"
          class="Home__send-button" @click="submitHandler"
        >
          <v-icon dark>{{ message.length > 120 ? 'error' : 'send' }}</v-icon>
        </v-btn>
        <v-layout column>
          <v-flex>
            <v-textarea
              solo
              clearable
              no-resize
              height="95"
              counter="120"
              label="Input text"
              v-model="message"
              :rules="rules"
              @keyup.enter="submitHandler"
              @click:clear="clearMessage"
              class="Home__textarea"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <div class="Home__contact-list">
      <v-list class="Home__contact-list-content">
        <div v-if="messageDialogs.length === 0" class="Home__empty-message">
          Please add
          <router-link to="/contacts" class="Home__empty-link">Contacts</router-link>
        </div>
        <v-list-tile
          avatar
          v-for="item in messageDialogs"
          :key="item.id"
          @click="setActiveDialogHandler(item.id, item.userName)"
          :class="{ 'Home__contact-list--active': item.id === activeDialog }"
        >
          <v-list-tile-avatar color="teal">
            <span class="white--text headline">C</span>
          </v-list-tile-avatar>

          <v-list-tile-content class="Home__contact-list-content-wrapper">
            <v-list-tile-title>
              {{ item.userName }}
            </v-list-tile-title>
            <v-list-tile-sub-title>{{ item.message }} Hello</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-btn
            depressed
            fab
            dark
            color="green"
            small
            class="Home__contact-list-call-button"
            @click="handleCall(item)"
          >
            <v-icon dark>call</v-icon>
          </v-btn>
          <span v-if="item.onLine" class="Home__contact-list-item-online-label"></span>
        </v-list-tile>
      </v-list>
    </div>


    <v-dialog
      v-model="dialogWait"
      max-width="550"
      transition="dialog-bottom-transition"
    >
      <v-card>
        <div class="App__spinners-wrapper">
          <pulse-loader :loading="true" :color="loaderColor" ></pulse-loader>
        </div>
        <v-card-title
          class="headline App__title-modal">
          Dialing
        </v-card-title>
        <v-card-actions class="App__button-group">
          <v-btn
            fab
            large
            outline
            depressed
            color="red"
            @click="hangUp"
          >
            <v-icon dark>call_end</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialog"
      max-width="550"
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title
          class="headline App__title-modal"
        >
          User outside the access area
        </v-card-title>
        <v-card-actions class="App__button-group">
          <v-spacer></v-spacer>
          <v-btn
            large
            depressed
            color="red"
            dark
            outline
            @click="hangUp"
          >
            Left a message
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import io from 'socket.io-client';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import isNull from 'lodash/isNull';
import { fireStore } from '@/firebase';
import { mapGetters, mapActions } from 'vuex';

const socket = io('http://159.65.122.96:3000/');

export default {
  data() {
    return {
      message: '',
      rules: [v => v.length <= 120 || 'Max 120 characters'],
      dialog: false,
      dialogWait: false,
      loaderColor: this.$vuetify.theme.primary,
    };
  },
  components: {
    PulseLoader,
  },
  computed: {
    ...mapGetters([
      'activeDialog',
      'activeUser',
      'messageDialogs',
      'messages',
      'user',
      'users',
    ]),
  },
  methods: {
    ...mapActions([
      'setUserData',
      'setMessages',
      'setActiveDialog',
      'getCurrentUserData',
      'getMessages',
      'getUsers',
      'getMessagesByDialog',
      'getDialogs',
    ]),
    hangUp() {
      this.dialogWait = false;
    },
    isNullMessages(messages) {
      return isNull(messages);
    },
    clearMessage() {
      this.message = '';
    },
    setActiveDialogHandler(id, userName) {
      this.getMessagesByDialog(id);
      this.setActiveDialog({ activeDialog: id, activeUser: userName });
    },
    submitHandler() {
      if (this.message && this.message.length <= 120) {
        const messageText = this.message;
        this.message = '';
        fireStore.collection('messages').doc(`${Date.now()}`)
          .set({
            dialogId: this.activeDialog,
            from: this.user.id,
            to: this.activeUser,
            message: messageText,
            date: Date.now(),
          })
          .catch((error) => {
            console.error('Error adding document: ', error);
          });
      }
    },
    handleCall({ onLine, userId, userName }) {
      if (!onLine) {
        this.dialog = true;
        return;
      }
      console.log('handleCall', { onLine, userId, userName });
      this.dialogWait = true;
      socket.emit('call', {
        to: {
          userName,
          userId,
        },
        from: {
          userName: this.user.userName,
          userId: this.user.id,
        },
      });
      // this.$router.replace(`/`);
    },
  },
  mounted() {
    this.getCurrentUserData();
    this.unsubscribeMessages = fireStore.collection('messages')
      .onSnapshot(() => {
        this.getMessagesByDialog(this.activeDialog);
      });

    this.unsubscribeDialogs = fireStore.collection('dialogs')
      .onSnapshot(() => {
        this.getDialogs();
      });
  },
  beforeDestroy() {
    this.unsubscribeDialogs();
    this.unsubscribeMessages();
  },
};
</script>

<style lang="scss" scoped>
  @import "../ui/colors";
  $left-side-size: 300px;

  .Home {
    padding: 0;
    padding-left: $left-side-size;
    padding-top: 30px;

    &__empty-message {
      padding-top: 75px;
      font-size: 1.2rem;
      text-align: center;
    }

    &__empty-link {
      text-decoration: none;
    }

    &__no-messages-label {
      background: $primary;
      margin-top: 25px;
      font-size: 1.1rem;
      border-radius: 15px;
      text-align: center;
      color: #fff;
    }

    &__input-message {
      flex-grow: 0;
      position: relative;
    }

    &__textarea {
      padding-right: 75px;
    }

    &__send-button {
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 1;
    }

    &__dialog {
      padding: 1rem;
      padding-bottom: 45px;
      justify-content: space-between;
      overflow: hidden;
    }

    &__dialog-loader {
      display: flex;
      padding-top: 15px;
      align-items: center;
      justify-content: center;
    }

    &__dialog-content {
      margin-top: 32px;
      margin-bottom: 10px;
      max-height: 520px;
      overflow-y: scroll;
    }

    &__contact-list-content {
      padding-top: 0;
    }

    &__contact-list-call-button {
      transform: scale(.7);
      position: relative;
      right: 10px;
    }

    &__contact-list {
      width: $left-side-size;
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow-y: scroll;
      margin-top: 70px;
      padding-bottom: 200px;

      &-content-wrapper {
        position: relative;
      }

      &-item-online-label {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $info;
        transform: translate(-50%, -50%);
      }

      &--active {
        background: rgba(0, 0, 0, .025);
      }
    }

    &__message {
      padding: .5rem;
      min-width: 190px;
      max-width: 320px;
      margin-bottom: 10px;
      word-break: break-word;
    }
  }
</style>
