<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-alert
          :value="showAlert"
          type="error"
          dismissible
          class="Login__alert"
          transition="slide-x-reverse-transition"
        >
          {{ errorMessage }}
        </v-alert>
        <v-card class="elevation-11">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                prepend-icon="person"
                name="email"
                label="Email"
                v-model="email"
                type="text"
                color="primary"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                v-model="password"
                type="password"
                color="primary"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              @click="signIn"
              color="primary"
              :loading="isAuthLoading"
              class="Login__button"
            >
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
        <div class="Login__message text-xs-center">Haven't account yet? ? Please
          <router-link
            to="/sign-up"
            class="Login__link"
          >
            Sign Up
          </router-link>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import firebase, { fireStore } from '@/firebase';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      showAlert: false,
      errorMessage: null,
    };
  },
  watch: {
    email() {
      this.showAlert = false;
    },
    password() {
      this.showAlert = false;
    },
  },
  computed: {
    ...mapGetters([
      'isAuthLoading',
    ]),
  },
  methods: {
    signIn() {
      if (!this.email || !this.password) {
        this.showAlert = true;
        this.errorMessage = 'Please enter a valid data';
        return;
      }

      this.setAuthLoadingState(true);
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          fireStore
            .collection('users')
            .where('userName', '==', this.email)
            .get()
            .then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                this.setUserData({
                  userName: user.user.email,
                  id: doc.id,
                });
                fireStore.collection('users').doc(doc.id).update({
                  onLine: true,
                });
              });
            });
          this.$router.replace('/');
          this.setAuthLoadingState(false);
        },
        (error) => {
          this.showAlert = true;
          this.errorMessage = error.message;
          this.setAuthLoadingState(false);
        },
      );
    },
    ...mapActions([
      'setUserData',
      'setAuthLoadingState',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.Login {
  &__alert {
    position: absolute;
    top: 80px;
    right: 20px;
  }

  &__message {
    padding-top: 2rem;
  }

  &__button {
    color: white;
  }

  &__link {
      text-decoration: none;
   }
}
</style>
