<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-alert
          :value="showAlert"
          type="error"
          dismissible
          class="SignUp__alert"
          transition="slide-x-reverse-transition"
        >
          {{ errorMessage }}
        </v-alert>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Sign Up</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                prepend-icon="person"
                name="email"
                label="Email"
                v-model="email"
                type="text"
                color="primary"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="password"
                label="Password"
                v-model="password"
                type="password"
                color="primary"
              ></v-text-field>
              <v-text-field
                prepend-icon="lock"
                name="repeat-password"
                label="Repeat Password"
                type="password"
                v-model="repeatPassword"
                color="primary"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              @click="signUp"
              color="primary"
              :loading="isAuthLoading"
              class="SignUp__button"
            >
              Sign Up
            </v-btn>
          </v-card-actions>
        </v-card>
        <div class="SignUp__message text-xs-center">Already have account ? Please
          <router-link
            to="/login"
            class="SignUp__link"
          >
            Login
          </router-link>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import firebase, { fireStore } from '@/firebase';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      repeatPassword: '',
      showAlert: false,
      errorMessage: null,
    };
  },
  watch: {
    email() {
      this.showAlert = false;
    },
    password() {
      this.showAlert = false;
    },
    repeatPassword() {
      this.showAlert = false;
    },
  },
  computed: {
    ...mapGetters([
      'isAuthLoading',
    ]),
  },
  methods: {
    signUp() {
      const hasErrors = !this.email
        || !this.password || !this.repeatPassword || this.password !== this.repeatPassword;
      if (hasErrors) {
        this.showAlert = true;
        this.errorMessage = 'Please enter a valid data';
        return;
      }
      this.setAuthLoadingState(true);
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
        ({ user }) => {
          fireStore.collection('users').doc(user.uid)
            .set({
              userName: user.email,
              id: user.uid,
              onLine: true,
              dialogs: [],
              contacts: [],
            })
            .then(() => {
              this.$router.replace('/');
              this.setUserData({
                userName: user.email,
                onLine: true,
                id: user.uid,
                dialogs: [],
                contacts: [],
              });
            })
            .catch((error) => {
              console.error('Error adding document: ', error);
            })
            .finally(() => {
              this.setAuthLoadingState(false);
            });
          this.$router.replace('/');
          this.setAuthLoadingState(false);
        },
        (error) => {
          this.showAlert = true;
          this.errorMessage = error.message;
          this.setAuthLoadingState(false);
        },
      );
    },
    ...mapActions([
      'setUserData',
      'setAuthLoadingState',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.SignUp {
  &__alert {
    position: absolute;
    top: 80px;
    right: 20px;
  }

  &__message {
    padding-top: 2rem;
  }

  &__button {
    color: white;
  }

  &__link {
    text-decoration: none;
  }
}
</style>
