<template>
  <v-container fluid grid-list-md class="VideoRoom">
    <v-layout justify-center row fill-height>
      <!--<v-flex xs3>-->
      <!--<div class="VideoRoom__chat fill-height">-->
      <!--</div>-->
      <!--</v-flex>-->

      <v-flex xs12>
        <div class="VideoRoom__video-cameras-wrapper fill-height text-xs-center">
          <div class="VideoRoom__video-cameras">
            <div class="VideoRoom__video-guest-wrapper">
              <video
                ref="remoteVideo"
                class="VideoRoom__video-guest"
                width="822"
                height="616"
                autoplay
              >
              </video>
              <div class="VideoRoom__video-host-wrapper">
                <video
                  ref="localVideo"
                  class="VideoRoom__video-host"
                  width="200"
                  height="150"
                  muted
                  autoplay
                >
                </video>
              </div>
            </div>
          </div>
          <div class="VideoRoom__video-dashboard">
            <v-btn @click="onMuteHandler" depressed fab dark color="info">
              <v-icon dark>{{ isMuted ? 'mic_off' : 'mic'}}</v-icon>
            </v-btn>
            <v-btn
              @click="onHangUp"
              depressed
              large
              fab
              dark
              :color="'red'"
            >
              <v-icon dark>call_end</v-icon>
            </v-btn>
            <v-btn fab dark color="info">
              <v-icon dark>volume_up</v-icon>
            </v-btn>
          </div>
        </div>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" persistent max-width="320">
      <v-card>
        <v-card-title class="headline">Call was ended</v-card-title>
        <v-card-text>You'll be redirected to messages</v-card-text>
        <v-progress-linear v-model="valueProgress"></v-progress-linear>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary" flat @click="redirectToMessages()">Go to Messages</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
import io from 'socket.io-client';
import webRTCConfig, { userMediaConfig } from '../config/webRTCConfig';


const socket = io('http://159.65.122.96:3000/');

export default {
  name: 'VideoResponse',
  data() {
    return {
      connectionPassive: null,
      localStream: null,
      isMuted: false,
      dialog: false,
      valueProgress: 0,
      userMediaLocalConfig: { ...userMediaConfig },
    };
  },
  methods: {
    onHangUp() {
      this.connectionPassive.close();
      this.$refs.remoteVideo.srcObject = null;
      this.$router.replace('/');
    },
    onMuteHandler() {
      this.isMuted = !this.isMuted;
      this.localStream.getAudioTracks()[0].enabled = !this.isMuted;
    },
    redirectToMessages() {
      this.$router.replace('/');
    },
  },
  async mounted() {
    const { remoteVideo, localVideo } = this.$refs;

    try {
      this.localStream = await navigator.mediaDevices.getUserMedia(this.userMediaLocalConfig);
    } catch (e) {
      alert(e);
    }
    localVideo.srcObject = this.localStream;

    this.connectionPassive = new RTCPeerConnection(webRTCConfig);
    this.connectionPassive.addStream(this.localStream);

    this.connectionPassive.ontrack = (e) => {
      // console.log('ontrack', e.streams[0]);
      remoteVideo.srcObject = e.streams[0];
    };

    socket.on('onicecandidate', (data) => {
      // console.log('addIceCandidate', data.candidate);
      this.connectionPassive.addIceCandidate(data.candidate);
    });

    this.connectionPassive.onicecandidate = (e) => {
      socket.emit('onicecandidate', { candidate: e.candidate });
    };

    this.connectionPassive.oniceconnectionstatechange = (e) => {
      console.log('ice connection state', this.connectionPassive.iceConnectionState, e);
    };

    socket.on('offer', async (data) => {
      // console.log('offer', data.offer);
      this.connectionPassive.setRemoteDescription(data.offer);

      const answer = await this.connectionPassive.createAnswer();
      await this.connectionPassive.setLocalDescription(answer);
      await socket.emit('answer', { answer });
    });

    this.connectionPassive.oniceconnectionstatechange = () => {
      if (this.connectionPassive.iceConnectionState === 'disconnected') {
        remoteVideo.srcObject = null;

        this.dialog = true;
        const interval = setInterval(() => {
          this.valueProgress += 1;
          if (this.valueProgress >= 100) {
            clearInterval(interval);
            this.redirectToMessages();
          }
        }, 100);
      }
    };
  },
};
</script>

<style lang="scss" scoped>
  @import "../ui/colors";

  .VideoRoom {
    padding-top: 75px;
    position: relative;
    z-index: 1;

    &__chat {
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        left: 25%;
        content: 'CHAT WIDGET';
      }

      &:before {
        position: absolute;
        content: '';
        background: #F9A825;
        top: 0;
        left: 0;
        right: 0;
        bottom: 30px;
        opacity: .3;
      }
    }

    &__video-guest-wrapper {
      position: relative;
    }

    &__video-cameras {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &__video-host {

    }

    &__video-guest {

    }

    &__video-host-wrapper {
      position: absolute;
      right: 15px;
      bottom: 15px;
      display: flex;
    }

    &__video-dashboard {
      // padding-top: 3rem;
    }
  }
</style>
