<template>
    <v-container fluid grid-list-md class="VideoRoom">
      <v-layout justify-center row fill-height>
        <!--<v-flex xs3>-->
          <!--<div class="VideoRoom__chat fill-height">-->
          <!--</div>-->
        <!--</v-flex>-->

        <v-flex xs12>
          <div class="VideoRoom__video-cameras-wrapper fill-height text-xs-center">
            <div class="VideoRoom__video-cameras">
              <div class="VideoRoom__video-guest-wrapper">
                <video
                  ref="remoteVideo"
                  class="VideoRoom__video-guest"
                  width="822"
                  height="616"
                  autoplay
                >
                </video>
                <div class="VideoRoom__video-host-wrapper">
                  <video
                    ref="localVideo"
                    class="VideoRoom__video-host"
                    width="200"
                    height="150"
                    muted
                    autoplay
                  >
                  </video>
                </div>
              </div>
            </div>
            <div class="VideoRoom__video-dashboard">
              <v-btn @click="onMuteHandler" depressed fab dark color="info">
                <v-icon dark>{{ isMuted ? 'mic_off' : 'mic'}}</v-icon>
              </v-btn>
              <v-btn
                @click="onHangUp"
                depressed
                large
                fab
                dark
                :color="'red'"
              >
                <v-icon dark>call_end</v-icon>
              </v-btn>
              <v-btn fab dark color="info">
                <v-icon dark>volume_up</v-icon>
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
import io from 'socket.io-client';
import { mapGetters, mapActions } from 'vuex';
import webRTCConfig, { userMediaConfig } from '@/config/webRTCConfig';

const socket = io('http://159.65.122.96:3000/', { secure: false });

export default {
  name: 'VideoRoom',
  data() {
    return {
      isActiveCall: false,
      connectionActive: null,
      localStream: null,
      isMuted: false,
      userMediaLocalConfig: { ...userMediaConfig },
      createOfferLocalConfig: {
        mandatory: {
          OfferToReceiveAudio: true,
          OfferToReceiveVideo: true,
        },
      },
    };
  },
  computed: {
    ...mapGetters([
      'user',
    ]),
  },
  methods: {
    ...mapActions([
      'getCurrentUserData',
    ]),
    onHangUp() {
      const { remoteVideo } = this.$refs;
      this.connectionActive.close();
      remoteVideo.srcObject = null;
      this.$router.replace('/');
    },
    onMuteHandler() {
      this.isMuted = !this.isMuted;
      this.localStream.getAudioTracks()[0].enabled = !this.isMuted;
    },
  },
  async mounted() {
    const { localVideo, remoteVideo } = this.$refs;
    this.getCurrentUserData();

    try {
      this.localStream = await navigator.mediaDevices.getUserMedia(this.userMediaLocalConfig);
    } catch (e) {
      alert(e);
    }
    localVideo.srcObject = this.localStream;

    this.connectionActive = new RTCPeerConnection(webRTCConfig);
    this.connectionActive.addStream(this.localStream);

    this.connectionActive.ontrack = (e) => {
      // console.log('ontrack', e.streams[0]);
      remoteVideo.srcObject = e.streams[0];
    };

    this.connectionActive.onicecandidate = (e) => {
      // console.log('onicecandidate', e.candidate);
      socket.emit('onicecandidate', {
        candidate: e.candidate,
      });
    };

    this.connectionActive.oniceconnectionstatechange = () => {
      // console.log('ice connection state', connectionActive.iceConnectionState);
    };

    const offer = await this.connectionActive.createOffer(this.createOfferLocalConfig)
      .catch(err => console.log('createOffer err', err));
    await this.connectionActive.setLocalDescription(offer);
    await socket.emit('offer', { offer });

    socket.on('answer', (data) => {
      this.connectionActive.setRemoteDescription(data.answer);
    });

    socket.on('onicecandidate', (data) => {
      // console.log('addIceCandidate', data.candidate);
      this.connectionActive.addIceCandidate(data.candidate);
    });

    this.connectionActive.oniceconnectionstatechange = () => {
      if (this.connectionActive.iceConnectionState === 'disconnected') {
        remoteVideo.srcObject = null;
        console.log('fomod');
      }
    };
  },
};
</script>

<style lang="scss" scoped>
  @import "../ui/colors";

  .VideoRoom {
    padding-top: 75px;
    position: relative;
    z-index: 1;

    &__chat {
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        left: 25%;
        content: 'CHAT WIDGET';
      }

      &:before {
        position: absolute;
        content: '';
        background: #F9A825;
        top: 0;
        left: 0;
        right: 0;
        bottom: 30px;
        opacity: .3;
      }
    }

    &__video-cameras {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &__video-guest-wrapper {
      position: relative;
    }

    &__video-guest {

    }

    &__video-host-wrapper {
      position: absolute;
      right: 15px;
      bottom: 15px;
      display: flex;
    }

    &__video-host {

    }

    &__video-dashboard {
      // padding-top: 3rem;
    }
  }
</style>
