<template>
  <v-app>
    <v-navigation-drawer
      absolute
      temporary
      v-model="drawer"
      app
    >

      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ (user || {}).userName }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list dense>
        <v-divider></v-divider>

        <v-list-tile @click="redirectTo('contacts')">
          <v-list-tile-action>
            <v-icon>perm_contact_calendar</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Contacts</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="redirectTo('')">
          <v-list-tile-action>
            <v-icon>message</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Messages</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>


        <v-list-tile>
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>help</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>FAQ</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Exit</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" dark app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Chat App</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>account_circle</v-icon>
      </v-btn>
      <v-btn v-if="user" @click="logOutHandler" icon>
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <router-view></router-view>


    <v-dialog
      v-model="incomingCallModal"
      max-width="550"
      transition="dialog-bottom-transition"
    >
      <v-card>
        <div class="App__spinners-wrapper">
          <pulse-loader :loading="true" :color="loaderColor" ></pulse-loader>
        </div>
        <v-card-title
          class="headline App__title-modal">
          Incoming call from  {{ incomingCallFromUser }}
        </v-card-title>
        <v-card-actions class="App__button-group">
          <v-btn fab outline large color="green" @click="pickUp">
            <v-icon dark>call</v-icon>
          </v-btn>
          <v-btn
            fab
            large
            outline
            depressed
            color="red"
            @click="hangUp"
            class="App__button-end"
          >
            <v-icon dark>call_end</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-footer
      v-if="isVisibleFooter"
      height="auto"
      color="primary"
      fixed
    >
      <audio ref="ring" loop="loop">
        <source src="./iPhone_5-Xylophone.mp3" type="audio/mpeg" />
      </audio>
      <!--<audio ref="ring" loop="loop">-->
        <!--<source src="./iPhone_5-Xylophone.mp3" type="audio/mpeg" />-->
      <!--</audio>-->
      <v-layout
        justify-center
        row
        wrap
      >
        <v-btn
          v-for="link in links"
          :key="link"
          color="white"
          flat
          round
        >
          {{ link }}
        </v-btn>
        <v-flex
          py-3
          text-xs-center
          white--text
          xs12
        >
          &copy; ONPU {{ new Date().getFullYear() }}<strong></strong>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import io from 'socket.io-client';
import { mapGetters, mapActions } from 'vuex';
import firebase, { fireStore } from '@/firebase';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

const socket = io('http://159.65.122.96:3000/');


export default {
  name: 'App',
  components: {
    PulseLoader,
  },
  computed: {
    ...mapGetters([
      'user',
    ]),
  },
  data() {
    return {
      drawer: false,
      links: [],
      loaderColor: this.$vuetify.theme.primary,
      incomingCallModal: null,
      incomingCallFromUser: '',
      callData: null,
      isVisibleFooter: true,
    };
  },
  methods: {
    pickUp() {
      this.incomingCallModal = null;
      // this.$refs.ring.pause();
      // this.$refs.ring.currentTime = 0;
      this.$router.replace('/video-response');

      socket.emit('acceptcall', this.callData);
    },
    hangUp() {
      this.incomingCallModal = null;
      this.$refs.ring.pause();
      this.$refs.ring.currentTime = 0;
    },
    logOutHandler() {
      fireStore.collection('users').doc(this.user.id)
        .update({
          onLine: false,
        })
        .then(() => {
          console.log('Document successfully updated!');
        })
        .catch((error) => {
          console.error('Error updated document: ', error);
        })
        .finally(() => {
          firebase.auth().signOut().then(() => {
            this.$router.replace('/login');
            this.setUserData(null);
          });
        });
    },
    redirectTo(link) {
      this.$router.replace(`/${link}`);
    },
    ...mapActions([
      'setUserData',
      'getCurrentUserData',
    ]),
  },
  updated() {
    this.isVisibleFooter = !this.$route.meta.isHideFooter;
  },
  mounted() {
    this.getCurrentUserData();

    socket.on('call', (data) => {
      if (this.user.id === data.to.userId) {
        this.callData = data;
        this.incomingCallModal = true;
        this.incomingCallFromUser = data.to.userName;
        // this.$refs.ring.play();
      }
    });

    socket.on('acceptcall', (data) => {
      if (this.user.id === data.from.userId) {
        this.$router.replace('/video-room');
      }
    });
  },
};
</script>

<style lang="scss">
  .App {
    &__link {
      display: inline-block;
      text-decoration: none;
    }

    &__spinners-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
    }

    &__title-modal {
      justify-content: center;
    }

    &__button-group {
      justify-content: center;

      .App__button-end {
        margin-left: 20px!important;
      }

      &.v-card__actions {
        padding-bottom: 20px;
      }
    }
  }
</style>
